<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Novo Recebimento</title>
	</head>
	<body>
		<h1>Recebimento</h1>
		
		<form method="POST">
			<label for="data">Data</label>
			<input type="date" id="data" name="data">
			<br>
			<label for="descricao">Descrição</label>
			<input type="text" id="descricao" name="descricao">
			<br>
			<label for="valor">Valor</label>
			<input type="number" id="valor" name="valor">
			<br>
			<input type="submit" value="Salvar">
		</form>
		
	</body>
</html>